@font-face {
    font-family: 'Bosk';
    src: local('Bosk'), url('Bosk.woff2') format('woff2'), url('Bosk.woff') format('woff'), url('Bosk.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
