@import url("../fonts/bosk/bosk.css");
@import url("../fonts/Circe/stylesheet.css");


* {
  box-sizing: border-box;
}

body{
  font-family: "Circe", sans-serif;
  font-size: calc(16px + .25vw);
  letter-spacing: -.25px;
  margin: 0;
  color: #fff;
  background-color: #222227;
  font-weight: 400;
}

header {
  display: block;
  position: relative;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: #d2d2d2;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

img {
  max-width: 100%;
}

footer {
  display: block;
  position: relative;
  margin-top: 30px;
}

.container {
  --content-size:calc(100% - 32px);
  --max-content-size:368px;
  --content-padding:calc(calc(100vw - 100%) / 2);
  --column-gap:8px;
  --content-height:calc(calc(100vw / 1.5) - 5px);
  box-sizing: border-box;
  margin: 0 auto;
  padding: var(--content-padding);
  max-width: var(--max-content-size);
  position: relative;
  width: var(--content-size);
}

@media (min-width: 400px) {
  .container {
    --content-height:264.533px;
  }
}

@media (min-width: 480px) {
  .container {
    --max-content-size:410px;
    --content-height:295.4px;
  }
}

@media (min-width: 576px) {
  .container {
    --max-content-size:520px;
    --column-gap:12px;
    --content-height:242.983px;
  }
}

@media (min-width: 624px) {
  .container {
    --content-size: calc(100% - 48px);
    --max-content-size:752px;
    --column-gap:16px;
    --content-height:calc(100vw / 2.3);
  }
}

@media (min-width:960px) {
  .container {
    --max-content-size:1130px;
  }

  @media (hover:hover) {
    .container {
      --content-size:calc(100% - 96px);
    }
  }
}

@media (min-width:1280px) {
  .container {
    --max-content-size:1176px;
    --column-gap:24px;
  }
}

@media (min-width:1880px) {
  .container {
    --max-content-size:1576px;
  }
}

@media (min-width:768px) and (max-width:767px) {
  .container {
    --content-height:calc(100vw / 3.1);
  }
}

@media (min-width:768px) and (max-width:799px) {
  .container {
    --content-height:calc(100vw / 3.1);
  }
}

@media (min-width:800px) and (max-width:959px) {
  .container {
    --content-height:258.65px;
  }
}

@media (min-width:960px) and (max-width:991px) {
  .container {
    --content-height:calc(calc(100vw / 3.24) + 2px);
  }
}

@media (min-width:992px) {
  .container {
    --content-height:calc(calc(100vw / 5) + 5px);
  }
}

.section {
  position: relative;
}

/* стили для search */

@media (max-width:992px) {
  .section-search {
    padding: 20px 0;
    background: linear-gradient(#14171a, #222227);
  }


}

.search__input {
  width: 100%;
  padding: 8px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 13px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("search_section.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: .3s;
}

.search__input::placeholder {
  color: #717171;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #717171;
  border-radius: 0;
  background-image: url("search-focus.svg");
  background-position: 100% center;
}

.section-search .search__input {
  background-image: url("search_section.svg");
}

.section-search .search__input:hover, .search__input:focus {
  background-image: url("search_section-focus.svg");
}

/* Стили для контента на films_detail */

.section-collection {
  /* margin: 20px 0; */
  color: #666;
}

@media (max-width: 991px) {
  .section + .section {
    margin: 20px 0;
  }
}

.section-title {
  margin-bottom: 16px;
}

@media (min-width:1280px) {
  .section-title {
    margin-bottom: 24px;
  }
}

.section-title_link {
  font-size: 1.5em;
  line-height: 36px;
  color: #fff;
  font-weight: 600;
  transition: .4s;
}

.section-title_link:hover {
  color: #ff8a00;
}

.section-content {
  display: block;
  margin: 0 calc(var(--column-gap) / -2);
  position: relative;
  width: calc(100% + var(--column-gap) * 1);
}

.col-films {
  padding: 0 calc(var(--column-gap) / 2) !important;
  margin: calc(var(--column-gap) / 2) 0;
}

.film-link {
  display: block;
  border-radius: 8px;
  /* height: 260px; */
  box-shadow: 0px 0px 5px 2px #14171a;
  background-color: #000;
}

.film-link img {
  border-radius: 8px;
  /* height: 260px; */
  height: var(--content-height);
  width: 100%;
  background-size: contain;
  object-fit: cover;
  transition: .5s;
}

.collection-deatil-link {
  display: block;
  height: 260px;
  color: #d2d2d2;
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 0;
}

.collection-deatil-link i {
  margin-left: 7px;
  margin-top: 6px;
  font-size: 0.9em;
}

.collection-deatil-link span {
  margin: auto;
}

.collection-deatil-link p {
  margin: auto;
}

.section-content {
  overflow: hidden;
  max-height: calc(calc(var(--column-gap) + var(--content-height)) * 2);
}

@media (min-width:992px) {
  .section-content {
    overflow: hidden;
    max-height: calc(var(--column-gap) + var(--content-height));
  }
}

.section-content-all {
  display: block;
  margin: 0 calc(var(--column-gap) / -2);
  position: relative;
  width: calc(100% + var(--column-gap) * 1);
}

.section-button {
  margin: 10px 0;
}

.btn.btn-orange {
 background-color:#ff8a00;
 background-image: -webkit-gradient(linear,left top,left bottom,from(#ffc600),to(#ff8a00));
 background-image: -o-linear-gradient(#ffc600,#ff8a00);
 background-image: linear-gradient(#ffc600,#ff8a00);
 color: #fff;
 text-shadow: 0.6px 0.6px 0.6px black;
}

.btn.btn-green {
 background-color:#41b14f;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#9ec14c),to(#41b14f));
 background-image:-o-linear-gradient(#9ec14c,#41b14f);
 background-image:linear-gradient(#9ec14c,#41b14f);
 color:#fff;
 text-shadow: 0.6px 0.6px 0.6px black
}

.btn.btn-pink {
 background-color:#e31061;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#fd637f),to(#e31061));
 background-image:-o-linear-gradient(#fd637f,#e31061);
 background-image:linear-gradient(#fd637f, #e31061);
 color:#fff;
 text-shadow: 0.6px 0.6px 0.6px black
}

.btn.btn-red {
 background-color:red;
 background-image:-webkit-gradient(linear,left top,left bottom,from(#fd637f),to(#e31061));
 background-image:-o-linear-gradient(#fd637f,#e31061);
 background-image:linear-gradient(#ff764c, red);
 color:#fff;
 text-shadow: 0.6px 0.6px 0.6px black
}

.btn-blue {
  background-color:#0070ff;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00aae7),to(#0070ff));
  background-image:-o-linear-gradient#00aae7,#0070ff);
  background-image:linear-gradient(#00aae7, #0070ff);
  color:#fff;
  text-shadow: 0.6px 0.6px 0.6px black
}

.btn-nonactive {
  background-color: #333;
  color:#fff;
  text-shadow: 0.6px 0.6px 0.6px black
}

.btn + .btn {
  margin-left: 10px;
}

.btn:hover {
  background-image: none;
}

.btn-small {
  font-size: 0.75em;
}

.btn-small-i {
  font-size: 1em;
  padding: 0.375rem 0.75rem;
  line-height: 19px;
}

.btn-small-i p {
  font-size: 0.75em;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}

.collection-film .hidden {
  width: calc(100% - var(--column-gap));
  color: #fff;
  line-height: 17px;
  position: absolute;
  text-align: center;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

@media (min-width: 992px) {
  .collection-film:hover img {
    opacity: .3;
  }

  .collection-film:hover .hidden, .collection-film .hidden:hover {
    opacity: 1;
    visibility: visible;
  }
}

.hidden.info {
  bottom: 0px;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}

.release_date {
  color: #8c8c8c;
  font-size: .7em;
  cursor: pointer;
  font-weight: 400;
}

.hidden.rating {
  top: 0px;
  font-weight: 400;
  font-size: .8em;
  color: #d2d2d2;
  cursor: pointer;
}

.hidden .rating-count {
  text-align: left;
  width: auto;
  float: left;
}

.hidden .age_limit {
  text-align: right;
  width: auto;
  float: right;
}

.rating-count p {
  margin: 10px 0 0 10px;
  border-bottom: 1px solid;
}

.age_limit p {
  margin: 10px 10px 0 0;
}

.rating-count .small, .rating .rating-film-count.small {
  border-color: red;
}

.rating-count .medium, .rating .rating-film-count.medium {
  border-color: #ff8a00;
}

.rating-count .good, .rating .rating-film-count.good {
  border-color: #41b14f;
}

.collection-image {
  position: relative;
  width: 100%;
  max-height: 100%;
  padding-top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-image img {
  position: absolute;
  margin: auto;
  margin-top: -100%;
  border-radius: 8px;
  max-height: 90%;
  box-shadow: 0px 0px 10px #090a0c;
  /* width: 90%; */
}

.collection-detail {
  --header-margin: calc(calc(100vw - 990px) / 5.6);
  /* margin-top: var(--header-margin); */
  margin-top: 50px;
  padding-left: 20px;
}

.film-detail {
  margin-top: calc(calc(100vw - 990px) / 10);
  margin-left: calc(calc(100vw - 990px) / 5);
}

.collection-detail .title, .film-detail .title {
  line-height: 40px;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 2px 2px 0 #666;
  color: #fff;
  margin-bottom: 15px;
}

.collection-detail span {
  font-size: 0.8em;
  color: #666;
}

.detail-text a {
  transition: .4s;
  color: #ff8a00;
  display: inline;
  position: relative;
}

.detail-text a:hover:after, .detail-text a:focus:after {
  -webkit-transform:scaleX(1);
  -ms-transform:scaleX(1);
  transform:scaleX(1);
  -webkit-transform-origin:left;
  -ms-transform-origin:left;
  transform-origin:left
}

.detail-text a:after {
  content:"";
  display:block;
  height:1.5px;
  border-radius:10px;
  -webkit-transform:scaleX(0);
  -ms-transform:scaleX(0);
  transform:scaleX(0);
  -webkit-transition:.5s -webkit-transform;
  -o-transition:.5s -webkit-transform;
  transition:.5s -webkit-transform;
  -webkit-transition:.5s transform;
  -o-transition:.5s transform;
  transition:.5s transform;
  -webkit-transform-origin:100% 0;
  -ms-transform-origin:100% 0;
  background: #ff8a00;
  opacity:.9;
  position:absolute;
  bottom:5px;
  left:0;
  width:100%;
  z-index:3;
}

.detail-text p {
  font-size: 0.8em;
  display: inline-block;
  color: #d2d2d2;
  padding: 0 2px;
}

.detail-text i, .film-share i {
  margin-left: 5px;
  transition: .4s;
  cursor: pointer;
}
.detail-text i:hover, .film-share i:hover {
  color: #fff;
}

.fa-telegram-plane {
  color: #0088cc;
}

.fa-link {
  color: #d2d2d2;
  font-size: .9em;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-vk {
  color: #1976d2
}

.owner-link {
  display: inline-block;
  position: relative;
  margin: 0 5px;
}

.follow_button {
  position: relative;
  /* margin: calc(var(--header-margin) / 2) 0; */
  padding-top: 14%;
}

@media (max-width: 991px) {
  .film-detail {
    margin: 10px;
    padding: 0;
  }

  .collection-detail {
    /* margin: 0; */
    padding: 0;
  }

  .follow_button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
  }

}

@media (max-width: 767px) {
  .collection-detail {
    margin: 0;
    padding: 0;
  }
}

.section-recommendation {
  margin-top: 40px;
}

.section-film-head {
  margin: 0;
  margin-bottom: 20px;
  background: linear-gradient(#14171a, #222227);
}

.film-poster-col {
  height: 100%;
}

.film-poster {
  position: relative;
  margin: 15px 0;
}

.film-poster img {
  border-radius: 10px;
  box-shadow: 0px 0px 12px #090a0c;
}

.film-detail {
  font-size: .9em;
  color: #d2d2d2;
  cursor: default;
}

.film-detail-p {
  display: block;
}

.orig_title {
  color: #666;
  font-size: 1em;
}

.tagline {
  color: #d2d2d2;
  margin-top: calc(var(--column-gap)/4.5);
}

.additional_information {
  margin-top: calc(var(--column-gap)/2.5);
  font-size: .7em;
  color: #888
}

.film-detail .rating {
  display: inline-block;
  margin-top: var(--column-gap);
  margin-bottom: calc(var(--column-gap)/3);
  color: #fff
}

.film-detail .rating + .rating {
  margin-left: var(--column-gap);
}

.film-detail .rating .count {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: #333;
}

.rating .rating-film-count {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 23px;
  margin: 10px;
  margin-bottom: 8px;
  /* border-bottom: 1px solid; */
}

.rating-film-name {
  font-size: .8em;
  text-align: center;
  padding: 3px 0;
  font-weight: 600;
  /* display: inline-block; */
  position: relative;
}

.starlet-rating {
  font-size: 1.2em;
  background: linear-gradient(45deg, #e31062 33%, #f27138 66%, #fed02f 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 19px;
}

.film-director, .film-genre {
  display: block;
  position: relative;
  margin-bottom: var(--column-gap);
}

.film-director-detail {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #333;
  transition: .4s;
  cursor: pointer;
}

.film-director-name {
  /* line-height: 17px; */
  font-size: .9em
}

.film-director-title {
  display: inline-block;
  /* margin-right: 5px; */
}

.film-director-detail + .film-director-detail {
  margin-left: 5px;
}

.film-director-title::after {
  content: '-';
  padding-left: 10px;
  padding-right: 8px;
}

.film-director-detail:hover {
  color: #fff;
  background: linear-gradient(#86124e, #fc1263);
}

.film-director-detail:hover a {
  color: #fff;
}

.film-genre-title {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #333;
  transition: .4s;
  cursor: pointer;
  font-size: .9em;
}

.film-genre-title:hover {
  background: linear-gradient(#fc1263, #86124e);
}

.film-genre-title:hover a {
  color: #fff;
}

.film-share {
  margin: 5px 0 10px 0;
}

.description-title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0;
}

.description-content {
  font-size: 0.85em;
  color: #888;
  /* max-height: 105px;
  overflow: hidden; */
}

.film-buttons {
  display: inline-block;
  margin-top: -10px;
}

.film-section-button {
  margin: 15px 0;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.film-section-button-bottom {
  display: none;
}

.film-section-button-bottom + .film-section-button-bottom {
  margin-left: 10px;
}

.film-section-button-bottom a {
  margin-bottom: 10px;
}

@media (max-width: 959px) {
  .film-buttons {
    display: none;
  }

  .film-section-button-bottom {
    display: inline-block;
  }
}

.cast-link {
  display: block;
  border-radius: 8px;
  /* height: 260px; */
  box-shadow: 0px 0px 5px 2px #14171a;
  background-color: #000;
}

.cast-link img {
  border-radius: 8px;
  /* height: 260px; */
  height: calc(var(--content-height)/1.5);
  width: 100%;
  background-size: contain;
  object-fit: cover;
  transition: .5s;
}

@media (min-width: 992px) {
  .col-cast {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    position: relative;
    width: 100%;
  }

  .cast-link img {
    height: calc(var(--content-height)/2);
  }
}

.cast-name {
  padding-top: 5px;
  color: #fff;
  font-size: .75em;
  font-weight: 700;
  line-height: 15px;
  cursor: pointer;
  text-align: center;
  transition: .5s;
}

.collection-film:hover .cast-name {
  color: #ff8a00
}

.section-cast-content {
  display: block;
  margin: 0 calc(var(--column-gap) / -2);
  position: relative;
  width: calc(100% + var(--column-gap) * 1);
  overflow: hidden;
  max-height: calc(var(--column-gap) + calc(var(--content-height)/1.6));
}

@media (max-width: 991px) {
  .section-cast-content {
    max-height: calc(var(--column-gap) + calc(var(--content-height)/ 1.4));
  }
}

@media (max-width: 767px) {
  .section-cast-content {
    max-height: calc(var(--column-gap) + calc(var(--content-height)* 1.5));
  }
}

.biography-title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0;
  /* color: #d2d2d2 */
}

.biography-content {
  font-size: 0.85em;
  color: #888;
  /* max-height: 105px;
  overflow: hidden; */
}

.pagination {
  position: relative;
  margin: 0px 0px 30px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
}

.pagination-item {
  display: inline-block;
}

.pagination .btn-small-i p {
  vertical-align: bottom;
}
